body {
    margin: 0;
    background-color: rgb(227, 212, 161);
    color: rgb(182, 37, 37);
    font-family: Georgia, Times, 'Times New Roman', serif;
}

h1.img {
    display: block;
    margin: 100px auto 0;
    width: 40%;
}

h1.recipe-title {
    width: 400px;
    text-align: center;
    position: absolute;
    top: 4%;
    left: 40%;
    transform: translate(-50%, -50%);
}

p.description {
    font-size: 20px;
    margin: 100px auto 0;
    position: absolute;
    width: 400px;
    top: 35%;
    left: 30%;

}

.list {
    position: absolute;
    top: 100%;
    width: 500px;
}

.ingrediants {
    left: 50%;
    position: absolute;
}

.steps {
    width: 500px;
    position: absolute;
    left: 90%;

}

.ordered-list {
    width: 500px;
    position: absolute;
    left: 70%;
}

.home {
    font-size: 50px;
    position: absolute;
    top: 50%;
}


