body {
    background-color: rgba(231, 192, 119, 0.703);
    padding: 0px;
    margin: 0px;
    font-family: sans-serif, 'Times New Roman', Times, serif;
}

.top-container {
    box-sizing: border-box;
    margin: 20%;
    width: 60%;
    background-color: rgba(223, 165, 57, 0.703);
    padding: 10px;
    height: auto;
    border-radius: 10px;
    align-items: center;
    justify-items: center;
    overflow: hidden;
}

div.recipe-img {
    border-radius: 10px;
    display: inline-block;
    object-fit: contain;
    object-position: center;
}

.recipe-name {
    width: 200px;
    text-align: center;
    padding-left: 100px;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}

li {
    line-height: 25px;
}