body {
    font-family: sans-serif, 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
    background-color: rgb(241, 203, 155);
}

.recipe-container {
    box-sizing: border-box;
    margin: 20%;
    width: 60%;
    background-color: antiquewhite;
    padding: 10px;
    height: auto;
    border-radius: 10px;
}

.icon-wrapper {
    margin-top: 1%;
    margin: 0;
    width: 60%;
    padding-left: 200px;
}

.odin-name {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 0;
    padding-right: 100px;
    margin-top: 20px;
}

.odin-logo {
    padding-left: 30px;
}

.recipe {
    line-height: 25px;
    text-align: center;
}